snippet ireverse
	from django.core.urlresolvers import reverse
snippet ireverse_lazy
	from django.core.urlresolvers import reverse_lazy
snippet itemplateview
	from django.views.generic import TemplateView
snippet iformview
	from django.views.generic import FormView
snippet icreateview
	from django.views.generic import CreateView
snippet iview
	from django.views.generic import View
snippet iform
	from django import Forms
