snippet imox
	import mox
snippet moxsetup
	def setUp(self):
	    self.mock = mox.Mox()
snippet moxteardown
	def tearDown(self):
	    self.mock.UnsetStubs()
snippet mox
	self.mock = mox.Mox()
snippet replayverify
	self.mock.ReplayAll()
	${1:code}
	self.mock.VerifyAll()
