[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
